:root {
  --blue-400: #42a5f5;
  --blue-500: #2196f3;
  --white-full: #fff;
  --white-400: #f1f2f4;
  --gray: #d5d5d5;
  --gray-200: #e2e1e1;
  --red-full: #ff0000;
  --black-full: #111;
}

.CardTask {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 7rem 0 0 3rem;
  width: 20rem;
  height: auto;
  border-radius: 0.5rem;
  background: var(--white-400);
  filter: drop-shadow(0.5rem 0.5rem 0.5rem var(--back-full));
}

.containerDescription {
  position: relative;
  display: flex;
  width: 100%;
}

.mainCardTask {
  flex-grow: 1;
  display: flex;
  width: 100%;
  flex-direction: column;
  box-sizing: border-box;
}

.divOverflow {
  max-height: 30rem;
  overflow-x: hidden;
}

.secondMainCardTask {
  background: var(--white-full);
  margin-bottom: 1rem;
  margin: 1rem 1rem;
  padding: 1rem 0.5rem;
  border-radius: 1rem;
  position: relative;
  display: flex;
  flex: 1 1 auto;
}

.cardHeader {
  padding: 0.8rem 0.5rem;
  margin-bottom: 1rem;
}

.firstTitleCard,
.titleTaskUser {
  resize: none;
  border: none;
  overflow: hidden;
  outline: none;
  width: 100%;
}

.titleTaskUser {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.mainCardHeader {
  display: flex;
  justify-content: space-between;
}

.containerButton button {
  border: none;
  padding: 0.5rem;
  font-size: 1.2rem;
  cursor: pointer;
}

.containerTitle textarea {
  padding: 0.5rem;
  font-size: 1.2rem;
  overflow: hidden;
  overflow-wrap: break-word;
  height: 1.25rem;
  width: 100%;
  border: none;
}

.cardFooter {
  display: flex;
  box-sizing: border-box;
  margin: 0 0.5rem;
}

.contentAddTask {
  display: flex;
  align-items: flex-end;
  margin: 1rem 0.2rem;
}

.buttonSpan {
  margin: 0 0.5rem;
}

.buttonSpan button {
  border: none;
  cursor: pointer;
  background: var(--blue-400);
  padding: 0.5rem 0.5rem;
  border-radius: 0.5rem;
  color: var(--white-full);
}

.buttonSpan button:hover {
  background: var(--blue-500);
  transition: 0.3s;
}

.buttonSpan span {
  font-size: 1rem;
}

.dropdownOptionsCardTask {
  position: fixed;
  background: var(--gray);
  right: -7.9rem;
  top: 1.6rem;
  border-radius: 1.3rem;
  z-index: 1;
}

.dropdownOptionsCardTask::before {
  content: "";
  position: fixed;
  width: 1.5rem;
  border-radius: 0 0 0 1rem;
  top: 1.6rem;
  right: -0.6rem;
  height: 0.7rem;
  background: var(--gray);
  z-index: -1;
}

.divOptions {
  display: flex;
  flex-direction: column;
  background: transparent;
}

.divOptions div {
  display: flex;
  justify-content: flex-start;
}

.divOptions span {
  text-align: left;
  display: flex;
}

.divOptions button {
  background: var(--gray);
  width: 100%;
  cursor: pointer;
  padding: 0.5rem;
  border: none;
  font-size: 1rem;
  border-radius: 0.3rem;
}

.divOptions button:hover {
  background: var(--blue-400);
  transition: 0.3s all;
}

.textareaError {
  border: 0.1rem solid var(--red-full);
}

.errorMessageContentTask {
  position: absolute;
  top: -1.8rem;
  border-radius: 0.5rem;
  background: var(--white-400);
}

.errorMessageContentTask span,
.errorMessageMainCard span {
  font-size: 0.8rem;
  font-weight: 400;
  color: var(--red-full);
}

.errorMessageMainCard {
  position: absolute;
  top: -0.01rem;
  background: var(--white-400);
  border-radius: 0.5rem;
}

.textareaMainCardError {
  width: 100%;
  display: flex;
  border: 0.1rem solid var(--red-full);
}

.iconOptionsCardTask {
  background: var(--blue-400);
  cursor: pointer;
  border-radius: 0.2rem;
  display: flex;
}

.iconOptionsCardTask:hover {
  transition: 0.3s;
  background: var(--blue-500);
}