:root {
  --white: #fff;
  --black: #111;
  --gray: #d5d5d5;
  --grayLight: #968f8f;
  --blue: #069bff;
  --second-blue: #1302fa;
  --blue-hover-button: #00a2ffbd;
}

.containerLimitWidth {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 13rem auto;
  flex: 1 1 auto;
  flex-wrap: wrap;
  min-height: 25rem; /* 400px */
  width: 25rem;  /* 400px */
  box-sizing: border-box;
  filter: drop-shadow(0.5rem 0.5rem 0.5rem #111);
}

.sectionFormUser {
  background: var(--white);
  border-radius: 1rem;
  width: 100%;
}

.Title {
  margin: 1rem;
  font-size: 2rem;
  text-align: center;
}

.contentLogin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1 1 auto;
  width: 100%;
}

.containerEmail,
.containerPassword,
.containerButtonSubmit {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}

.containerEmail label,
.containerPassword label {
  margin: 0 0 0.3rem 1rem;
}

.labelInput {
  font-size: 0.9rem;
  position: absolute;
  top: 1.6rem;
  left: 1.2rem;
  color: var(--grayLight);
  font-weight: 300;
}

.labelInputFocus {
  top: 0.0800rem;
  transition: 0.4s;
}

.labelInputDisable {
  transition: 0.4s;
}

.containerEmail input,
.containerPassword input {
  padding: 0.6rem;
  width: calc(100% - 5rem);
  font-size: 0.9rem;
  margin: 1rem auto;
  border: none;
  border-bottom: 0.1rem solid var(--black);
  outline: none;
}

.containerButtonSubmit button {
  padding: 0.6rem;
  font-size: 0.9rem;
  margin: 1rem auto;
  border-radius: 0.3rem;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
  background-color: var(--gray);
  color: var(--black);
  border: none;
  width: 50%;
  background: var(--blue);
}

.containerButtonSubmit button:hover {
  background: var(--blue-hover-button);
  transition: 0.4s;
}

.containerButtonSubmit button:not(hover) {
  transition: 1s;
}

.containerRememberPassword {
  display: flex;
  justify-content: center;
  margin: 1rem;
}

.containerRememberPassword a {
  text-decoration: none;
  margin: 0 0 0 0.1rem;
  color: var(--second-blue);
}

