:root {
    --gray: #d5d5d5;
}

.navBarContainer {
    padding: 0.5rem;
    margin: 0 0 1rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--gray);
}

.containerInputSearch {
    display: flex;
}

.containerInputSearch input{
    font-size: 0.9rem;
    padding: 0.3rem;
}

.containerInputSearch button {
    font-size: 0.8rem;
    padding: 0.3rem;
    margin: 0 0.5rem 0 0;
}

.focusIconUserDisable {
    display: none;
}

.userMenu {
    position: relative;
}

.userDropdown {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 2.5rem;
    right: 1rem;
    background: var(--gray);
    padding: 0.5rem;
    border-radius: 0.3rem;
}

.userDropdown a {
    margin: 0.5rem 0 1rem 0;
}