* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

body,
html,
#root {
  width: 100%;
  background-size: cover;
}

.body-with-background {
  background: url("assets/images/background.png") fixed no-repeat center;
  background-size: cover;
}

.body-background-pages {
  background: url("assets/images/tarefas.png") no-repeat center fixed;
  background-size: cover;
}

.body-with-background::before,
.body-background-pages {
  content: "";
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
}
