* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

body, html, #root {
  width: 100%;
}

.body-with-background {
  box-sizing: border-box;
  background: url("images/background.png") no-repeat fixed center;
  background-size: cover;
  transition: 0.3s;
}

.body-with-background::before {
  content: "";
  position: fixed;
  width: 100%;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  /* box-sizing: border-box; */
}