* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  /* overflow-x: hidden; */
}

.body-with-background {
  box-sizing: border-box;
  background: url("images/background.png") no-repeat fixed center;
  background-size: cover;
}